// Primary
$soft-cyan: hsl(174, 77%, 80%);
$strong-cyan: hsl(174, 86%, 45%);
$light-grayish-red: hsl(14, 92%, 95%);
$light-red: hsl(15, 100%, 70%);
$pale-blue: hsl(226, 100%, 87%);

// Neutral
$white: hsl(0, 0%, 100%);
$very-pale-blue: hsl(230, 100%, 99%);
$light-grayish-blue-a: hsl(224, 65%, 95%);
$light-grayish-blue-b: hsl(223, 50%, 87%);
$grayish-blue: hsl(225, 20%, 60%);
$dark-desaturated-blue: hsl(227, 35%, 25%);

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
  background-color: $very-pale-blue;
  font-family: 'Manrope', sans-serif;
  font-size: 15px; 
  transition: 0.2s;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
  }

  &::before {
    width: 100%;
    height: 449px;
    background-image: url('../img/bg-pattern.svg');    
    background-repeat: no-repeat;    
    background-position: center;
    top: 0;    
  }

  &::after {
    width: 30%;
    height: 449px;
    background-color: #F1F5FE;
    top: 0;
    right: 0;
  }
}

/****
APP HEADER
****/

.app-header {
  padding: 90px 0;
  text-align: center;  
  background-image: url('../img/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 20;  

  .app-header-inner {
    width: 100%;
    max-width: 1440px;    
    margin: 0 auto;
  }

    h1 {
      font-size: 30px;
      color: $dark-desaturated-blue;
      font-weight: 800;
    }

    h2 {
      font-size: 16px;
      padding-top: 20px;
      color: $grayish-blue;
    }

}

.price-section {
  width: 550px;
  height: 400px;
  background-color: $white;
  margin: auto;  
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  z-index: 2;

    .price-section-header {      
      padding: 40px 50px;
      border-bottom: 1px solid $light-grayish-blue-a;
    }

    .price-month-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .price-month {
      display: flex;
      align-items: center;
      justify-content: center;

      .price {
        font-weight: 800;
        color: $dark-desaturated-blue;
        font-size: 40px;
      }

      .time {
        font-size: 14px;
        padding-left: 5px;
        color: $grayish-blue;
      }
    }

    .views {
      text-transform: uppercase;
      color: $grayish-blue;
      letter-spacing: 2px;
      font-size: 14px;
    }

    .price-section-footer {
      padding: 30px 50px;
    }    
}

.slider-price {
  margin: 35px 0;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  border-radius: 25px;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 120px;
  width: 20px;
  border-radius: 50%;
  background: $strong-cyan;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;   
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
  //box-shadow: 10px 10px 10px #000000, 0px 0px 0px #0d0d0d;
  box-shadow: 0 10px 20px $soft-cyan;    
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $strong-cyan;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
  background-image: url('../img/icon-slider.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.container-payment-method {
  font-size: 14px;
  text-align: right;
  padding-right: 30px;

  .discount-value {
    padding: 3px 6px;
    background-color: $light-grayish-red;
    color: $light-red;    
    border-radius: 15px;
    font-size: 10px;

    .symbol-discount {
      display: none;
    }
  }  
}

.toggle {
  cursor: pointer;
  display: inline-block;
  color: $grayish-blue;
  font-size: 12px;
}

.toggle-switch {
  display: inline-block;
  background-color: $light-grayish-blue-b;
  border-radius: 16px;
  width: 42px;
  height: 22px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  margin: 0 5px;

  &:before,
  &:after {
    content: "";
  }

  &:before {
    display: block;
    background: $white;
    border-radius: 50%;    
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 3px;
    transition: left 0.25s;
  }

  .toggle:hover &:before {
    background: linear-gradient(to bottom, #fff 0%,#fff 100%);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
  }
  .toggle-checkbox:checked + & {
    background: $soft-cyan;
    &:before {
      left: 24px;
    }
  }
}

.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}

.toggle-label {
	margin: 0 10px;
	position: relative;
	top: 2px;
}

.price-section-footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

    ul {
      li {
        margin: 15px 0;
        padding-left: 25px;
        font-size: 12px;
        color: $grayish-blue;
        background-image: url('../img/icon-check.svg');
        background-repeat: no-repeat;
        background-position: 0 2px;

      }
    }
}

button {
  font-family: 'Manrope', sans-serif;
  background-color: $dark-desaturated-blue;
  color: $light-grayish-blue-b;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  padding: 10px 40px;
}